@charset "utf-8";

/* global */
body{
	font-family:monospace;
	color:#DDD;
	font-size:100%;
	background-color:#000;
}
hr{	
	border:none;
	margin:auto;
	max-width:600px;
	height:5px;
	background-color:rgba(0, 255, 0, 1);
	margin-top:30px;
	margin-bottom:30px;
}
/* links */
a:link {
	color:#0F0;
}

a:visited {
	color:rgba(0, 255, 0, 0.6);
}

/* header */
header{
	text-align:center;
	margin-top:20px;
}
header h1{
	font-size:500%;
	color:#DDD;
	font-family:'Roboto';
}
header h2{
	margin:0, 0, 0, 0;
	padding:0, 0, 0, 0;
	color:#AAA;
	font-family:'Roboto';
}
#logo{
	height:200px;
	width:200px;
	background-color:#FFF;
}

/* nav */
#nav a{
	margin:20px;
	padding:10px;
	font-size:130%;
}
#nav a:link {
	color:#FFF;
	text-decoration:none;
}
#nav a:visited {
	color:#FFF;
        text-decoration:none;
}
#nav a:hover {
	color:#0F0;
	text-decoration:none;
}

/* content */
.content-wrapper{
	max-width:650px;
	margin:auto;
	margin-top:40px;
	margin-top:40px;
}
/* footer */
footer{
	font-size:80%;
	text-align:center;
	font-family:monospace;
}
